html,
body {
	height: 100%;
	margin: 0;
	overflow: auto;
}

.body-wrapper {
	padding-top: 0;
}

.body-wrapper:before {
	/*background-color: #EFEFEF;*/
	background-image: url('../images/abstract-background.jpg');
	background-position: center 0;
	background-size: cover;
	background-repeat: repeat;
}

.logo {
	visibility: hidden;
}

body {
	padding: 15px 0 0 0;
}

textarea {
	resize: none;
}

.panel-container {
	padding-bottom: 40px;
}

.panel-transparent {
	position: relative;
}
/* Nav tab step*/

.nav-fixed-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 15px;
}

.nav-tabs {
	display: flex;
	border: none;
}

.nav-tabs > li {
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.nav-tabs > li > a {
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	height: 6px;
	background-color: #fff;
	padding: 0 !important;
}

.nav-tabs > li:first-child > a {
	border-radius: 3px 0 0 3px;
}

.nav-tabs > li:last-child > a {
	border-radius: 0 3px 3px 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover {
	background-color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: none;
	height: 6px;
	background-color: #fff;
}

.nav-tabs > li.active ~ li > a {
	background-color: transparent;
	border-bottom: 1px solid #fff;
}

.tab-pane h3 {
	margin-top: 0;
}

.tab-content {
	position: relative;
	padding-top: 15px;
	/*	padding-bottom: 40px;*/
}

.tab-content .tab-control {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	width: 100%;
	/*	box-shadow: 0 0 5px 1px #aaa;*/
}

.form-control {
	box-shadow: none;
	border-radius: 0;
	height: 40px;
}

.btn {
	min-width: 100px;
}

input[type=text],
select {
	height: 34px;
	min-width: 200px;
}

.loading-gif {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 50%;
    display: none;
}

    .loading-gif img {
        width: 80px;
        height: 80px;
    }

.page-success {
	padding-bottom: 0;
}

.page-success h3 {
	margin-top: 0;
}

/* Surevey auto form*/

.ss-footer,
.ss-password-warning {
	display: none;
}

.ss-top-of-page,
.ss-form,
.ss-footer {
	padding-left: 15px;
	padding-right: 15px;
}

.ss-top-of-page {
	padding-top: 30px;
}

.ss-form-container {
	box-shadow: none;
	border: none;
}

.ss-form-question {
	padding: 0;
}

.ss-item:first-child,
.ss-form-entry {
	margin: 0;
}

.ss-choice-label {
	color: #fff;
	font-size: 14px;
}

.ss-q-other-container {
	padding-top: 5px;
}

.ss-q-short,
.ss-q-long,
.ss-item select {
	display: block;
}

.ss-q-title {
	color: #fff;
	font-size: 16px;
}

.ss-required-asterisk {
	margin-left: 5px;
	font-size: 20px;
}

.ss-choice-item {
	padding-top: 0;
}

.ss-choice-item label {
	margin: 2px;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	/*	overflow: auto;*/
}

.ss-required-asterisk {
	color: red;
}

.required-message {
	padding: 10px;
	border-radius: 3px;
	border-bottom: 3px solid #ddd;
	background-color: #fff;
	margin-top: 10px;
	position: relative;
}

.required-message:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 15px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
}
@media (min-width: 992px) {
	.container.container-sm {
		width: 600px;
	}
	.panel-transparent {
		max-height: none;
	}
	.tab-content {
		/*padding-bottom: 50px;*/
	}
	.tab-content .tab-control {
		position: absolute;
		box-shadow: none;
		padding: 0;
	}
	.tab-content .tab-pane {
		min-height: 200px;
	}
}

@media (max-width: 992px) {
	body {
		background-size: auto 100%;
		/*padding-bottom: 60px;*/
	}
	.body-wrapper {
		/*padding-top: 25%;*/
		height: 100%;
		overflow: auto;
	}
	.panel-container {
		padding-bottom: 0;
	}
	.panel-transparent {
		box-shadow: none;
	}
	/*.body-wrapper:before {
		background-image: url('../images/backgrmobile.jpg');
		background-size: 100% auto;
	}*/
	.ss-q-title,
	.ss-choice-label {
		font-size: 80%;
	}
	.page-success h3 {
		font-size: 18px;
		line-height: 1.3;
	}
}

.form-horizontal .ss-choices {
	margin: 0;
}

.form-horizontal .ss-form-question {
	margin-bottom: 15px;
}

.form-horizontal h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 15px;
	color: white;
	font-weight: bold;
}

.ss-q-help {	
    color: white;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
}

.ss-page-info {
	text-align: center;
	color: white;
}

.nav-tabs {
	margin-top: 20px;
}

.tab-pane-household .ss-item {
	margin: 0;
}

.tab-pane-household .ss-choice-item {
	padding-bottom: 0;
}

.ss-form-entry .ss-q-short {
	width: 100%;
}

.ss-choice-item.ss-choice-right label input:not(:checked) + span, 
.ss-choice-item.ss-choice-right label input:checked + span {
	padding-right: 40px;
	padding-left: 0;
}

.ss-choice-item.ss-choice-right label input:not(:checked) + span:before, 
.ss-choice-item.ss-choice-right label input:checked + span:before {
    left: 85px;
}

.ss-choice-item.ss-choice-right label input:not(:checked) + span:after,
.ss-choice-item.ss-choice-right label input:checked + span:after {
	left: 94px;
}

.ss-choice-languages {
	display: inline-block;
	margin-left: 14px;
}
.ss-q-title-lg {
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
}

.ss-choices.ss-choices-inline .ss-choice-item {
	display: inline-block;
}
.ss-choices.ss-choices-inline .ss-choice-item:not(:last-child) {
	margin-right: 15px;
}
.ss-q-title span {
	font-weight: normal;
}

.js-select2 {
	width: 100%;
}

/*
.tab-pane-subjects .ss-choice-item {
	margin-right: 10px;
	display: inline-block;
}*/