/** ********************************************** **
	Styles customized by Wisky's developers
*************************************************** **/
@media only screen and (max-width: 992px) {
	/* Force 60px */
	#header #topNav a.logo>img {
		max-height:30px !important;
	}
}

section {
	padding: 40px 0;
}
.log-section{
	padding:70px 0;
}
#wrapper {
	background: url('http://www.wallpaperbetter.com/wallpaper/892/524/873/red-wine-autumn-2K-wallpaper.jpg');
}
#wrapper> #login-wrap{
	background: whitesmoke;
}
#footer, #topBar, .section-smoke .container {
	background: rgba(255,255,255,.85);
}

#footer *, #footer > .copyright {
	background: whitesmoke;
	color: #414141 !important;
}

.section-smoke .container {
	border: 1px solid gray;
	padding: 30px 25px;
	background: white;
	background: rgba(255,255,255,.95);
}
.section-edit{
	padding: 84px 0;
}
section.page-header h1{
	font-size:50px;
	color:orange;
}
register-page{

}

login-page {


}

.wishlist table.table-bordered td:last-child {
	text-align: center;
}
.wishlist table.table-bordered td:last-child .fa {
	color: #F05123;
}
.box-red>div:nth-child(1) {
	background-color: #489FDF;
}
.box-red>div:nth-child(2) {
	background-color: #F37022;
}
.box-red>div:nth-child(3) {
	background-color: #1D9E74;
}
.box-red>div:nth-child(1):hover{
	cursor:pointer;
	opacity:0.85;
}
.box-red>div:nth-child(2):hover{
	cursor:pointer;
	opacity:0.85;
}
.box-red>div:nth-child(3):hover{
	cursor:pointer;
	opacity:0.85;
}
.non-orange{
	color:unset;
}

.box-features{
	height:329px;
	font-size:18px;
}
.box-features h2 {
	height: 100px;
	overflow: hidden;
	font-weight:unset;
}
.box-features p{
	margin-bottom: 0px;
}