/** ********************************************** **
	Styles customized by Wisky's developers
*************************************************** **/

div.side-nav .select2 ul>li:before {
	display: none;
}

section {
	padding: 40px 0;
}

#wrapper {
	background: url('http://eskipaper.com/images/free-school-wallpaper-1.jpg');
}

#footer, #topBar, .section-smoke .container {
	background: rgba(255,255,255,.85);
}

#footer *, #footer > .copyright {
	background: none;
	color: #414141 !important;
}

.section-smoke .container {
	border: 1px solid gray;
	padding: 30px 25px;
	background: white;
	background: rgba(255,255,255,.95);
}